<section>
    <h1> À propos</h1>
    <div id="logo_and_text">
        <img [src]="myImage" alt="">
        <div>
            <p>Coiffex est une plateforme web innovante de services de coiffure à domicile</p>
            <p>Nous permettons aux clients de bénéficier d'une expérience de coiffure de qualité supérieure, 
            sans avoir à se déplacer en salon.</p>
            <p>Nos coiffeurs qualifiés se rendent chez nos clients pour fournir des prestations de coiffure sur demande, à une date et à un endroit de leur choix.</p>
        </div>
    </div>
</section>
<footer>
    <p>2023 - CoiffeX - Tous droits réservés</p>
</footer>