#center-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

#offers-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    margin: 10px;
}

.offer {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;

    height: 50vh;
    width: 45vh;
}

.offer-image {
    height: 25vh;
    width: 25vh;
    object-fit: cover;
}